<%= tag.meta name: "stripe-key", content: Pay::Stripe.public_key %>

<h1>Subscribe!</h1>
<div class="flash">
    <%- if !notice.nil? -%>
    <p class="notice"><%= notice %></p>
    <%- end -%> 
    <%- if !alert.nil? -%>
    <p class="alert"><%= alert %></p>
    <%- end -%>     
</div>
<%= form_with url: subscription_path, local: true, id: "payment-form" do |form| %>
  <div class="form-group">
    <label for="card-element">Credit or debit card</label>
    <div id="card-element" class="form-control">
    </div>

    <div id="card-errors" role="alert"></div>
  </div>

  <div class="form-group">
    <%= form.label :name_on_card %>
    <%= form.text_field :name_on_card, id: "name_on_card", placeholder: "Full name", class: "form-control" %>
  </div>

 <div class="form-group">
    <%= form.hidden_field :plan, value: "monthly" %>
    <%= form.submit "Subscribed", class: "btn btn-primary" %>
  </div> 

<% end %>

<div id="payment-elements" v-if="! paymentProcessed">
  <!-- Instructions -->
  <h1 class="text-xl mt-2 mb-4 text-gray-700"><%=t "requires_action.header", amount: number_to_currency(@payment.amount / 100.0) %></h1>
  <p class="mb-6"><%=t "requires_action.description" %></p>

  <div v-show="status == 'requires_payment_method'">
    <!-- Name -->
    <label for="cardholder-name" class="inline-block text-sm text-gray-700 font-semibold mb-2"><%=t "requires_action.full_name" %></label>
    <input id="cardholder-name" type="text" placeholder="Jane Doe" required class="inline-block text-black bg-gray-200 border border-gray-400 rounded-lg w-full px-4 py-3 mb-3 focus:outline-none" v-model="name">

    <!-- Card -->
    <label for="card-element" class="inline-block text-sm text-gray-700 font-semibold mb-2"><%=t "requires_action.card" %></label>
    <div id="card-element" class="bg-gray-200 border border-gray-400 rounded-lg p-4 mb-6"></div>
  </div>

  <!-- Pay Button -->
  <button id="card-button" class="inline-block w-full px-4 py-3 mb-4 text-white rounded-lg bg-blue-400 hover:bg-blue-500" :class="{ 'bg-blue-400': paymentProcessing, 'bg-blue-600': ! paymentProcessing }" @click="confirmPayment" :disabled="paymentProcessing">
    <%=t "requires_action.button", amount: number_to_currency(@payment.amount / 100.0) %>
  </button>
</div>


<script src="https://js.stripe.com/v3/"></script>